/******* GENERAL *******/
:root {
    --primary-bg: #add8e6;
    --primary-text: #334850;
    --secondary-text: #666;
    --navbar-bg: #2F5869;
    --navbar-text: #add8e6;
    --navbar-text-hover: #e3b319;
    --navbar-text-scroll: #0B3D17
}

body {
    background-color: var(--navbar-bg);
    color: var(--primary-text);
    transition: background-color 0.3s, color 0.3s;
}

/* Style for back-to-top button */
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 25px;
    display: none;
    z-index: 999;
    background-color: var(--navbar-bg);
    border: 1px solid var(--navbar-text)
}

#back-to-top:hover {
    background-color: var(--navbar-text-hover);
}

#home,
#about,
#skills,
#portfolio,
#contact {
    margin-top: 4rem;
    padding-top: 4rem;
    min-height: 400px;
    background-color: var(--primary-bg) !important;
    color: var(--primary-text);
}

#home h1,
#home p {
    color: var(--primary-text);
}

#about h2,
#skills h2,
#portfolio h2,
#contact h2 {
    margin-bottom: 3rem;
    color: var(--primary-text);
}

#contact {
    padding-bottom: 4rem;
}

/* Navbar scroll effect */


.navbar-brand,
.navbar-nav .nav-link {
    color: var(--navbar-text) !important;
    transition: color 0.6s;
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
    color: var(--navbar-text-hover) !important;
}

.scrolled {
    background-color: #e3b319;
}

.scrolled .navbar-brand,
.scrolled .navbar-nav .nav-link {
    color: var(--navbar-bg) !important;

}

.scrolled .navbar-brand:hover,
.scrolled .navbar-nav .nav-link:hover {
    color: #0d47a1 !important;
    box-shadow: 20px (rgba(0, 0, 0, 0.5));
}

.navbar-toggler {
    color: var(--navbar-text);
    border-color: var(--navbar-text);
    background-color: transparent;

}


/* Ajustements pour les petites tailles d'écran */
@media (max-width: 992px) {
    .navbar {
        background-color: var(--navbar-bg);

    }

    .scrolled {
        background-color: var(--navbar-text-hover);
        /* Couleur de fond au scroll pour petites tailles d'écran */
    }

    .scrolled .navbar-toggler {
        color: var(--navbar-bg);
        /* Couleur du texte au scroll pour le bouton de navigation */
        border-color: var(--navbar-bg);
        /* Bordure du bouton au scroll */

    }


    .scrolled .navbar-toggler .navbar-toggler-icon {
        color: var(--navbar-bg)
    }
}

/* About Section */

.title_position h1 {
    text-align: center;
    margin-bottom: 5vh;
}

.imageAboutPage {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.img-fluid {
    max-width: 300px;
}

/* Skills */
.skillsText.card {
    height: 350px;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: var(--primary-bg);
    color: var(--primary-text);
    border-radius: 60px;
    border: 1px solid;
}

.skillsText img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}

#skills p {
    text-align: center;
    color: var(--primary-text);
}

.skillsIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}

.card-title {
    text-align: center;
    font-weight: 500;
    color: var(--primary-text);
}

.skillsText:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px rgba(212, 175, 55, 0.3);
}

/* Portfolio */
#portfolio p {
    text-align: center;
    color: var(--primary-text);
}

.portfolioContent {
    height: 450px;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: var(--primary-bg);
    color: var(--primary-text);
    border-radius: 60px;
    border: 1px solid;
}

.btn {
    margin-bottom: 20px;
    background-color: var(--navbar-bg);
    border: none;
}

.btn-success:focus,
.btn-success:active {
    background-color: #2f5869;
    box-shadow: 0 0 0 0.2rem rgba(227, 179, 25, 0.5)
}


.btn:hover {
    background-color: var(--navbar-text-hover);
}

.portfolioContent img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 60px 60px 0px 0px;
}

.portfolioContent:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px rgba(212, 175, 55, 0.3);
}

/* Contact */
.contactColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--primary-text);
}

.col-lg-4 i {
    color: var(--navbar-bg);

}

.col-lg-4 h3 {
    margin: 1rem 0.5rem;
    font-size: 1.5rem;
}



/* Footer */


footer {
    text-align: center;
    margin: 1rem;
    color: var(--navbar-text);
}