/******* GENERAL *******/
:root {
    --primary-bg: #0B3D17;
    --primary-text: #d4af37;
    --secondary-text: #666;
    --card-hover: #0B3D17;
    --navbar-bg: #012e0d;
    --navbar-text: #d4af37;
    --navbar-text-hover: #e3b319;

}

body {
    background-color: var(--navbar-bg);
    color: var(--primary-text);
    transition: background-color 0.3s, color 0.3s;
}

/* Style for back-to-top button */
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 25px;
    display: none;
    z-index: 999;
    background-color: var(--navbar-bg);
    border: 1px solid var(--navbar-text)
}

#back-to-top:hover {
    background-color: var(--navbar-text-hover);
}

#home,
#about,
#skills,
#portfolio,
#contact {
    margin-top: 4rem;
    padding-top: 4rem;
    min-height: 400px;
    background-color: var(--primary-bg) !important;
    color: var(--primary-text);
}

#home h1,
#home p {
    color: var(--primary-text);
}

#about h2,
#skills h2,
#portfolio h2,
#contact h2 {
    margin-bottom: 3rem;
    color: var(--primary-text);
}

#contact {
    padding-bottom: 4rem;
}

/* Navbar scroll effect */
.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-dark {
    background-color: var(--navbar-bg) !important;
}

.navbar-brand,
.navbar-dark .navbar-nav .nav-link {
    color: var(--navbar-text) !important;
    transition: color 0.3s, text-shadow 0.3s;
    /* Add transition for color and text shadow */
}

.navbar-brand:hover,
.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--navbar-text-hover) !important;
    /* Change text color on hover */
    text-shadow: 0 0 8px rgba(212, 175, 55, 0.5);
}

/* About Section */

.title_position h1 {
    text-align: center;
    margin-bottom: 5vh;
}

.imageAboutPage {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* Skills */
.skillsText.card {
    height: 350px;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: var(--primary-bg);
    color: var(--primary-text);
    border-radius: 60px;
    border: 1px solid;
}

.skillsText img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}

#skills p {
    text-align: center;
    color: var(--primary-text);
}

.skillsIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}

.card-title {
    text-align: center;
    font-weight: 500;
    color: var(--primary-text);
}

.card:hover .skillsIcon {
    color: var(--card-hover);
}

.skillsText:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px rgba(212, 175, 55, 0.3);
}

/* Portfolio */
#portfolio p {
    text-align: center;
    color: var(--primary-text);
}

.portfolioContent {
    height: 450px;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: var(--primary-bg);
    color: var(--primary-text);
    border-radius: 60px;
    border: 1px solid;
}

.btn {
    margin-bottom: 20px;
}

.portfolioContent img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 60px 60px 0px 0px;
}

.portfolioContent:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px rgba(212, 175, 55, 0.3);
}

/* Contact */
.contactColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--primary-text);
}

.contactColumn i {
    color: #198754;
    margin-bottom: 35px;
}

.contactColumn h3 {
    margin: 0 0.5rem;
    font-size: 1.5rem;
}

.contactColumn p {
    margin: 0;
}